<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Personalized Diet and Workout Recommendation System</title>
</head>
<body>
    <header>
        <a href="#"><img src ="{{ url_for('static', filename='_.jpeg') }}" class="logo"></a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li> 
            
        </ul>
    </header>
    <div class="container">
        <div class="title">
            <span class="green-text">F</span>it<span class="green-text">S</span>ense
        </div>
        <div class="img-box">
            <img src="{{ url_for('static', filename='img.jpeg') }}" class="starbucks" alt="">
        </div>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{{ url_for('submit_login') }}" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('index') }}" class="back-link">Back to Home</a>
    </div>
</body>
</html>
